@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Neucha&family=Roboto&display=swap');

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #c7c7c7;
}

.page__card {
    height: 50vh;
    width: 50vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: scroll;
    font-family: 'Hammersmith One', sans-serif;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.page__title {
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 2.5rem;
    background: none;
}

.page__country {
    margin-top: 10px;
    color: grey;
    background: none;
}

.page__link {
    background: none;
    color: grey;
}

.page__extract {
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    line-height: 25px;
    margin-top: 30px;
    background: none;

}

@media (max-width: 700px) {
    .page__card {
        height: 70vh;
        width: 70vw;
        padding: 20px;

    }

    .page__title {
        margin-top: 10px;
        letter-spacing: 2px;
        font-size: 1rem;
        background: none;
    }
}